<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form fillup</title>
</head>
<form action="/eikhane" method="POST">
    <label for="name">num lekh</label>
    <input type="text" name="name" id="name"><br><br>

    <label for="age">Boyosh koto?</label>
    <input type="text" name="age" id="age">
    <br><br>

    <button type="submit">submit</button>
</form>

<body>

</body>

</html>